@import "blink.css";

:root {
  font-family: "Arial", "Comic Sans MS", sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: white;
  background: url("https://i.imgur.com/SHZe50s.gif") fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
}

.poke-table {
  background: white;
  color: black;
  width: 20rem;
}

.poke-table > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.pokemon-entry {
  background: white;
  color: black;
  max-width: 900px;
  display: flex;
  width:100%;
  justify-content: space-between;
  padding:2rem;
  margin-left: 0.5rem;
}

.pokemon-type {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding:0.2rem 0.5rem;
  text-transform: capitalize;
}

.rainbow {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

input[type=button] {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: rgba(255,255,255, 0.8);
}

input[type=button]:disabled,
input[type=button][disabled] {
  background-color: grey;
}
